<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categorias <a href="/#/categorias/novo/" class="pull-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3>
    </div>
    <div class="panel-body">
        <table class="table"> 
            <thead> 
                <tr> 
                    <th>#</th> 
                    <th>Categoria</th> 
                    <th>Ação</th> 
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="registro in registros"> 
                    <td>{{registro.id}}</td> 
                    <td>{{registro.nome}}</td> 
                    <td>x</td> 
                </tr> 
            </tbody> 
        </table>
    </div>
</div>